# Python virtual environment
venv/
env/
.venv/

# Local database files
data/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode settings
.vscode/

# Miscellaneous
*.log
*.bak
*.swp
*.sql
